.footer{
    padding: 30px 0px 0px 0px;
    background: #1E212C;
}

.footer__email{
    padding-left: 10px;
    background-color: #FFFFFF33;
    border: 1px solid gray;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40px;
}
.footer__full{
    margin-top: 50px;
    padding-top: 10px;
    background-color: #292c37;
}